
.bouton {
    font: var(--default-font);
    font-size: 0.7rem;
    padding: 0px 5px;
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: var(--lightBlue);
    color: var(--ligtherGray);
    cursor: pointer;
    box-shadow: black 0px 1px 5px;    
    width: 9rem;
    margin: 0 10px;
  }  .bouton:hover {
    background-color: var(--lightBlue);
    color: var(--white);
    box-shadow: black 0px 1px 10px;    
  }
  .formulario_one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
.formu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    box-sizing: border-box;
    background-color: var(--lightGray);
    margin: 0;
    padding: 0;
}
.formulario1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 25px;    
    background-color: var(--lightGray);
    gap: 15px;
    margin: 5px 0 0;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 25px;    
    background-color: var(--lightGray);
    margin: 10px;
}


.formulario label {
    display: block; 
    color: var(--darkGray); 
    font: var(--default-font);
    font-size: 0.75rem;
    margin: -5px;
}

.formulario input[type="text"],
.formulario input[type="number"] {
    text-align: center;
    width: 185px; 
    background-color: var(--darkGray);
    font: var(--default-font);
    font-size: 0.6rem;
    margin: 0 5px ;    
    border: 2px solid #ddd; 
    border-radius: 4px; 
    box-sizing: border-box;
}

.formulario input[type="text"]:focus,
.formulario input[type="number"]:focus {
    outline: none; 
    border-color: #7cabf9;
    box-shadow: 0 0 0 3px rgba(124, 171, 249, 0.1); 
}
