.bouton {
    font: var(--default-font);
    font-size: 0.7rem;
    padding: 0px 5px;
    margin: 0 10px;
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: var(--lightBlue);
    color: var(--ligtherGray);
    cursor: pointer;
    box-shadow: black 0px 1px 5px;    
    width: 9rem;
  }
.formu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1%;
    box-sizing: border-box;
    gap: 5px;
}  .bouton:hover {
  background-color: var(--lightBlue);
  color: var(--white);
  box-shadow: black 0px 1px 10px;    
}
.text_copied {
  background-color: var(--darkGray);
  color: white;
  padding: 0 5px;
  border-radius: 5px;
  font: var(--default-font);
  font-size: 0.5rem;
  margin-left: 5px;
}

.clipboard {
  width: 15px;
  padding: 0;
  margin: 0;
  margin-left: 5px;
  cursor: pointer;
  z-index: 10;
  color: var(--darkGray);
}

.clipboard:hover {
  color: black;
  transform: scale(1.1);
}