.bouton {
    font: var(--default-font);
    font-size: 0.7rem;
    padding: 0px 5px;
    border: 1px solid var(--black);
    border-radius: 5px;
    background-color: var(--lightBlue);
    color: var(--ligtherGray);
    cursor: pointer;
    box-shadow: black 0px 1px 5px;
    width: 9rem;
    margin: 0 10px;
}

.bouton:hover {
    background-color: var(--lightBlue);
    color: var(--white);
    box-shadow: black 0px 1px 10px;
}

.formulario {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    row-gap: 15px;
    margin-top: 0.5rem;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
}

.formulario label {
    display: block;
    color: var(--darkGray);
    font: var(--default-font);
    font-size: 0.70rem;
    font-weight: 600;
    width: 3.5rem;
}

.formulario_input {
    text-align: center;
    width: 16.5rem;
    background-color: var(--darkGray);
    font: var(--default-font);
    font-size: 0.6rem;
    border: 2px solid var(--lightyGray);
    border-radius: 4px;
    padding: 0 10px;
    box-sizing: border-box;
    color: var(--white);
}

.formulario_input:focus {
    outline: none;
    border-color: #7cabf9;
    box-shadow: 0 0 0 3px rgba(124, 172, 249, 0.1);
}
    
.formu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    box-sizing: border-box;
    background-color: var(--lightGray);
    margin: 0.5rem 0 0 0px;
    padding: 0px 0px 0px 0px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    box-sizing: border-box;
    background-color: var(--lightGray);
    margin: 0;
    padding: 0px 0px 0px 0px;
}

.toggleButton {
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font: var(--default-font);
    font-size: 0.50rem;
    transition: background-color 0.3s;
    width: 6rem;
    margin: 0.5rem;
    margin-bottom: 0px;
    text-align: center;
}

.toggleButton:hover {
    background-color: var(--darkGray);
}