.body_firstMethod{
    margin-top: 2.5rem;    
}

.pageContainer {
    position: relative;
    margin-top: 2.5rem;    
}

/* Existing styles for .content */
.content {
    transition: margin-left 0.3s ease;
}

.contentShift {
    margin-left: 9rem;
}

.header{
    margin-top: 10px;
    text-align: right;
    color: var(--black);
    display: flex;
    gap: 15px;
    text-decoration: 1px underline gray;
}
.header_one {
   display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
} 

.header_two{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    gap: 10px;
}

.header_gral{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin:10px 0;

}

.card_title {
    font-weight: 600;
    color: var(--gray);
    font-family: var(--heading-font);
    margin: 0;
    padding: 0;
    font-size: 0.6em;
    text-align: right;
}
.title_params{
    color: var(--gray);
    font-family: var(--heading-font);
    margin: 0;
    margin-right: 20px;
    padding: 0 ;
    font-size: 0.9em;
    text-align: left;
    text-decoration:2px var(--lightBlue) underline;
    
}
  

.form_test {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;    
}
.block {
    border: 1px solid black;
    font-family: var(--default-font);
    border: 1px solid var(--black);
    background-color: var(--lightGray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    box-sizing: border-box;    
    gap: 15px;
    padding: 10px 0;
    margin-bottom: 25px;
    height: 100%;
    margin-top: 1rem;
}

@media (max-width: 900px) {
    .form_test {
        flex-direction: column;
        align-items: center;
    }

    .block:nth-child(1) {
        order: -1;
    }
}